{% extends 'base.html' %}
{% load static %}

{% block body %}
	<div class="BlogMenuBlock" style="float: right; background-color: yellow;">
    	<a href="{% url 'bboard:add' %}">Добавить</a>
	    {% if categories %}
	        {% for categori in categories %}
	            <p><a href="{% url 'bboard:sorting' categori.id %}">{{categori}}</a>
	        {% endfor %}
	    {% endif %}
	</div>

	<div>
		{% if page.has_previous %}
			<a href="?page={{page.previous_page_number}}">&lt;</a>
			&nbsp;&nbsp;|&nbsp;&nbsp;
		{% endif %}
		{{page.number}}
		{% if page.has_next %}
			&nbsp;&nbsp;|&nbsp;&nbsp;
			<a href="?page={{page.next_page_number}}">&gt;</a>
		{% endif %}
	</div>
    
	{% if bboard_writes %}
		{% for bboard_write in bboard_writes %}
			<h3>{{bboard_write.title}}</h3>
			<p>Описание:</p>
			<p>{{bboard_write.description|slice:"80"}}</p>
			<p>Цена: {{bboard_write.coast|floatformat:-2}}</p>
			<a href="{% url 'bboard:update' bboard_write.pk %}">Изменить</a>
			<a href="{% url 'bboard:delete' bboard_write.pk %}">Удалить</a>
		{% endfor %}
	{% endif %}
{% endblock %}
