{% extends 'base.html' %}
{% load static %}

{% block body %}
	{% if article %}
		<h1>{{article.title}}</h1>
		<h3>{{article.autor}}</h3>
		<p>{{article.articles}}</p>
		<h6>{{article.date}}</h6>
	{% endif %}
	<form method="POST" action="{% url 'blog:new_comment' %}">
		{% csrf_token %}
		<input type="hidden" name="article_id" value="{{article.id}}">
		<input type="text" name="name" placeholder="Имя">
		<p><input type="text" name="comment" placeholder='Комментарий'>
		<p><input type="submit" name="make_new_comment">
	</form>
	{% if comments %}
		{% for comment in comments %}
		<div style="border: 1px solid #ccc; width: 50%; text-align: center;">
			<p>Автор: {{comment.name}}</p>
			<p>Комментарий: {{comment.comment}}</p>
		</div>
		{% endfor %}
	{% endif %}
{% endblock %}
