{% extends 'base.html' %}
{% load static %}

{% block body %}
	<div class="BlogMenuBlock" style="float: right; background-color: yellow;">
		<a href="{% url 'blog:add_article' %}">Добавить статью</a>
	</div>
	{% if articles %}
		{% for article in articles %}
			<!-- <a href="{% url 'blog:article' article.id %}"> -->
				<a href="{% url 'blog:article' article.pk %}">
				<h1>{{article.title}}</h1>
			</a>

			<p>Автор: {{article.autor}}</p>
			<p>{{article.articles|slice:":100"}}</p>
			<p>Дата публикации: {{article.date}}</p>
		{% endfor %}
	{% endif %}
{% endblock %}
