{% extends 'base.html' %}
{% load static %}

{% block body %}
	{% if user.username %}
		<p>Добро пожаловать! {{user.username}}
	{% endif %}

	<div class="BlogMenuBlock" style="float: right; 
		background-color: yellow; 
		clear: both; margin-right: 5vw;">
		{% if 'blog.add_blog_articles' in perms %}
			<a href="{% url 'blog:add_article' %}">Добавить статью</a>
		{% endif %}
	</div>
	{% if articles %}
		{% for article in articles %}
				<a href="{% url 'blog:article' article.pk %}">
				<h1>{{article.title}}</h1>
			</a>

			<p>Автор: {{article.autor}}</p>
			<p>{{article.articles|slice:":100"}}</p>
			<p>Дата публикации: {{article.date}}</p>
		{% endfor %}
	{% endif %}
{% endblock %}
