{% extends 'base.html' %}
{% load static %}

{% block body %}
	{% if results %}
		{% for result in results %}
			<h2>Автор: {{result.autor}}</h2>
			<img src="{{result.photo_url}}" style="max-height: 15vw; max-width: 15vw;">
			<h6>Дата публикации: {{result.date|date:"SHORT_DATE_FORMAT"}}</h6>
			<a href="{% url 'galary:update' result.pk %}">Изменить</a>
			<a href="{% url 'galary:delete' result.pk %}">Удалить</a>
		{% endfor %}
	{% endif %}
	
	<p>
	{% if page.number > 1 %}
		<a href="?page=1">1</a>
	&nbsp;&nbsp;|&nbsp;&nbsp;
	{% endif %}
	{% if page.has_previous %}
		<a href="?page={{page.previous_page_number}}">&lt;</a>
	{% endif %}
	{{page.number}}
	{% if page.has_next %}
		<a href="?page={{page.next_page_number}}">&gt;</a>
	{% endif %}
	{% if last_page %}
	&nbsp;&nbsp;|&nbsp;&nbsp;
		<a href="?page={{last_page}}">{{last_page}}</a>
	{% endif %}

	<form method="post" action="{% url 'galary:add' %}">
		{% csrf_token %}
		{{forms.as_p}}
		<input type="submit" value="Добавить">
	</form>

	<p><a href="{% url 'galary:add' %}">Изменить</a>
{% endblock %}
